In [26]:
import telemetry_parser
tp = telemetry_parser.Parser('../build/GX019642.MP4')
t = tp.telemetry()
exp = []
for i in range(1,len(t)):
    exp.extend(t[i]['Exposure']['Data'])

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('../build/VID_20220205_123905.csv')


time = data.values[:,1]
log_time = time[-1] - time[0]
sample_rate = len(data.values)/log_time

with open('../build/VID_20220205_123905.bb.csv','w') as f:
    print('loopIteration,time,gyroADC[0],gyroADC[1],gyroADC[2]', file = f)

    for i in range(len(data.values)):
        scale = 1
        print(i, int(1e6*i/sample_rate), data.values[i,2]*scale, data.values[i,3]*scale, data.values[i,4]*scale,sep=',',file=f)

In [59]:
sample_rate

108.31113370025852

In [60]:
data

                     time  seconds_elapsed         z         y         x
0     1644053933940496400         0.066496  0.026572 -0.242354 -0.060474
1     1644053933949730000         0.075730  0.010384 -0.197609 -0.102775
2     1644053933958962400         0.084962 -0.001985 -0.142175 -0.131485
3     1644053933968196000         0.094196 -0.021685 -0.090100 -0.157599
4     1644053933977429800         0.103430 -0.040163 -0.063375 -0.172564
...                   ...              ...       ...       ...       ...
9850  1644054024891438600        91.017438 -0.032375 -0.058489  0.023823
9851  1644054024900672000        91.026672 -0.062459  0.089031  0.042301
9852  1644054024909905400        91.035906 -0.085060  0.259457  0.095598
9853  1644054024919138800        91.045139 -0.098652  0.402090  0.188599
9854  1644054024928372200        91.054372 -0.116061  0.479668  0.292901

[9855 rows x 5 columns]